body{
  user-select: none;
}
.item {
  width: 10.869565217391303vw;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;

}
.hideme{
  opacity: 0;
}


.page-header{
    border-bottom: 0
} 
.header-space{
  padding-bottom: 65px;
}
  .img1{
    /* The image used */
    background-image: url("images/qtech3.png");
    height: 1000px;
  }
    .img2{
    /* The image used */
    background-image: url("images/qtech1.png");
    height: 1500px; 
  }
    .img4{
    /* The image used */
    background-image: url("images/qtech4.png");
    height: 1500px; 
  }
    /* Full height */
     .parallax {
    

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Style the header with a grey background and some padding */
.header {
  width:100%;
  position: fixed;
  overflow: hidden;
  background-color: #292828;
  padding: 0 10px;
  margin-bottom: 500px;
}
  div.dark{
    margin:0;
    background-color: #292828;
    color:white;
    font-size:35px;
    padding: 10px 15px;
  }
  div.light{
    background-color: white;
    color:292828;
  }

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  font-size: 0.9782608695652173vw; 
  line-height: 1.3586956521739129vw;
  border-radius: 4px;
  transition: all 0.3s ease;
  border-radius: 0;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header .logo {
  float: left;
  color: white;
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
  font-size: 1.902173913043478vw; 
  line-height: 25px;
  border-radius: 4px;
  margin: 0;
}

/* Change the background color on mouse-over */
.header a:hover {
  
  background-color: white;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
  
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }


}
.footer{
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
  margin-bottom:0px;
  font-size: 20px;
  padding-top: 25px;
  background-color: #292828;
  color:white;
  text-decoration: none;
}
.panel{
  display: 'flex';
  flex-direction: 'row';
  padding:30px 0;
  justify-content: 'space-around';
}
.member-box{
    text-align: center;
    text-decoration: none;
    
    background-color: #292828;
    padding: 25px 25px 25px 25px;
    color: white;
    zoom: 110%;
    margin: 50px 5.361930294906165vw;
}
.tdpad{
  padding-left: "2.949061662198391vw"
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover 
{
     color:inherit; 
     text-decoration:none; 
     cursor:pointer;  
}
